html {
	height: 100%;
	margin: 0;
}

body {
	font-family: 'Arimo', sans-serif;
	margin: 0;
	font-size: 133%;
	height: 100%;
}

.navigation {
	list-style: none;
	position: relative;
	height: auto;
	text-align: center;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	margin: 0;
	position: fixed;
	width: 100%;
	background-color: #3d3d3d;
	-ms-transform: translateZ(100%);
	-webkit-transform: translateZ(100%);
	transform: translateZ(100%);
	margin-left: -1.25%;
}

	.navigation li {
		position: relative;
		display: inline;
		margin-right: 20px;
	}
	
	.navigation a {
		color: white;
		text-decoration: none;
	}
	
		.navigation a:hover {
			color: #f78800;
		}

.middle {
	background-image: url("pencils.JPG");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	height: 100%;
	-ms-transform: translateZ(-50%);
	-webkit-transform: translateZ(-50%);
	transform: translateZ(-50%);
}

h1 {
	font-size: 300.8%;
	color: white;
	text-shadow: 0px 0px 25px #3d3d3d;
	font-weight: normal;
	position: fixed;
	margin: 0;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.text {
	padding-left: 18.85%;
	padding-right: 18.85%;
	line-height: 155%;
	text-align: justify;
	margin: 0;
	position: relative;
	-ms-transform: translateZ(25%);
	-webkit-transform: translateZ(25%);
	transform: translateZ(25%);
}

.full {
	height: 100%;
}

.white {
	background-color: white;
	color: black;
}

.black {
	background-color: #3d3d3d;
	color: #f78800;
}

.divider {
	position: relative;
	-ms-transform: translateZ(25%);
	-webkit-transform: translateZ(25%);
	transform: translateZ(25%);
	height: 3px;
	background-color: #f78800;
	margin-left: 9.45%;
	margin-right: 9.45%;
}

.words {
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

h2 {
	font-size: 167%;
	font-weight: normal;
	margin: 0;
}

.social-media {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

	.social-media ul {
		margin-left: 0;
		padding-left: 0;
		padding-right: 2%;
	}
	
	.social-media li {
		display: inline;
		margin-left: 0;
		padding-left: 0;
		padding-right: 2%;
	}
	
	.social-media a {
		text-decoration: none;
		color: #f78800;
	}